<!Doctype html>
<html>
    <head>
        <title>Doctor appointment booking</title>
        <link rel="icon" type="image/x-icon" href="/images/logo1.jpeg">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

        <style>
           
            .homeClassimg{
                background-image: url("/images/doctor.jpg");
                background-repeat: no-repeat;
                width:1090px;
                height:700px;
                align-items: center;
                padding-left: 0%;   
                opacity: 0.7;
                margin:0px;
                border:0px;
            }
            .homeClass1
            {
                font-family: Arial, sans-serif;
                float: right;
                width: 600px;
                height : 300px;
                color:black;
                padding-right: 150px;
                padding-left: 10px;
                padding-top: 100px;
                letter-spacing: 2px;
                line-height: 1.9;
                text-align: justify;
            }
            th,td{
               padding: 20px;
               text-align: center;
           }
           table,th,td{
               border: 1px solid black;
               border-collapse: collapse;
               border-color: rgb(208, 232, 247);
               background-color: rgb(255, 255, 255);
               color:black;
               opacity: 0.9;
               font-family: Arial, sans-serif;
           }
           th{
               
               color: rgb(0, 0, 0);
           }
           .tableClass{
               padding-left: 170px;
               padding-top: 60px;
               padding-bottom: 60px;
               background-color: rgb(28, 56, 84);
               margin:0px;
               border:0px;
           }
           .quote1Div{
               padding:30px;
               width:200px;
               height: 130px;
               background-color:rgb(234, 232, 232);
               color:rgb(0, 0, 0);
               text-align: center;
               display: inline-block;
               letter-spacing: 2px;
                line-height: 1.9;
                font-family: Arial, sans-serif;
           }
            body{
                margin:0px;
                border:0px;
            }
            </style>
        </head>
            <body>

                <header>
                    <div class="container mt-3">
                        <h2><img src="/images/logo1.jpeg" width="70" height="70" atl="logo">DOCTOR APPOINTMENT BOOKING</h2>
                        <br>
                    </div>
                </header>
                <!-- Nav tabs -->
  
                <ul class="nav nav-tabs" role="tablist">

                   <li class="nav-item">
                    <a class="nav-link active" href="/Home/Index">Home</a>
                   </li>

                   <li class="nav-item">
                    <a class="nav-link"  href="/Doctor/Insert">Doctor Registration</a>
                   </li>

                   <li class="nav-item">
                    <a class="nav-link"  href="/Patient/Insert">Patient Registration</a>
                   </li>

                   <li class="nav-item">
                     <a class="nav-link" href="/Doctor/Login">Doctor Login</a>
                   </li>
  
                   <li class="nav-item">
                     <a class="nav-link" href="/Patient/Login">Patient Login</a>
                   </li>
      
                    <li class="nav-item">
                     <a class="nav-link" href="#sug">Suggestions and Feedback</a>
                   </li>
                 </ul>
               
                 <!--tab contens-->
             <div class="tab-content">
               <div id="home" class="container" style="border: 0px; margin:0px"><br>
                   <div class="homeClassimg">
                       <div class="homeClass1">

                           <h1>welcome! </h1>
                           <p>
                               Looking for an appointment right at your destination. Get Confirmed
                               Appointment with Top Doctors and Surgeons in Hyderabad at Preferred
                               Date & Time.
                               <br>
                               <br> Get Confirmed Appointment with Experienced Doctors & Surgeons.
                               Book Now! 12+ Centers of Excellence. Cutting-Edge Treatment.
                           </p>
                           <h4>Get the Personal care for your healthy living. </h4>

                       </div>
                     </div>
                 <div class="tableClass">
                    <table>
                        
                        <tr>
                            <th>Doctor Name</th>
                            <th colspan="2">Timings</th>
                            <th>Department</th>
                            <th>Op Days</th>
                        </tr>
                        <tr>
                            <td>Dr. shetty Mallikarjuna</td>
                            <td>4:00 PM</td>
                            <td>7:00 PM</td>
                            <td>General Medicine</td>
                            <td>Mon to Fri</td>
                        </tr>
                        <tr>
                            <td>Dr. D. Sree Bhushan Raju</td>
                            <td>4:00 PM</td>
                            <td>7:00 PM</td>
                            <td>Nephrology</td>
                            <td>Mon to Fri</td>
                        </tr>
                        <tr>
                            <td>Dr. G. Swarnalatha</td>
                            <td>4:00 PM</td>
                            <td>7:00 PM</td>
                            <td>Nephrology</td>
                            <td>Mon to Fri</td>
                        </tr>
                        <tr>
                            <td>Dr. Raja Karthik</td>
                            <td>4:00 PM</td>
                            <td>7:00 PM</td>
                            <td>Nephrology</td>
                            <td>Mon to Fri</td>
                        </tr>
                        <tr>
                            <td>Dr. Vijay Kiran</td>
                            <td>4:00 PM</td>
                            <td>7:00 PM</td>
                            <td>Nephrology</td>
                            <td>Mon to Fri</td>
                        </tr>
                        <tr>
                            <td>Dr. P. Chandra sekhar</td>
                            <td>4:00 PM</td>
                            <td>7:00 PM</td>
                            <td>Orthopaedic</td>
                            <td>Mon, Wed, Fri</td>
                        </tr>
                        <tr>
                            <td>Dr. Raju Iyengar</td>
                            <td>4:00 PM</td>
                            <td>7:00 PM</td>
                            <td>Nephrology</td>
                            <td>Tue, Thu, Fri</td>
                        </tr>
                        <tr>
                            <td>Dr. beatrice Anne</td>
                            <td>4:00 PM</td>
                            <td>7:00 PM</td>
                            <td>Endocrinology</td>
                            <td>Mon, Wed, Fri</td>
                        </tr>
                    </table>
                </div>
                   <br>
                  
               <div style="padding-left:30px; padding-top:10px; padding-bottom:10px;">
                  <div class="quote1Div">
                    <p> Apple a day keeps the doctor away</p>
                  </div>    
                
                  <div class="quote1Div">
                    <p> A healthy outside starts from inside</p>
                  </div>
                 
                  <div class="quote1Div">
                    <p> A healthy outside starts from inside</p>
                  </div>
                  <div class="quote1Div">
                    <p> A healthy outside starts from inside</p>
                  </div>
                  <div class="quote1Div">
                    <p> A healthy outside starts from inside</p>
                  </div> 
                </div>  
               
              </div>
             
              </div>
              
            </body>
</html> 
