<h1>No Appointment Found to be Deleted!!</h1>
<a href="/Patient/Homepage"><button type="button" style="border-radius: 3px; color: rgb(38, 37, 37); background-color:rgb(247, 191, 191);border: 1px solid rgb(251, 207, 207); text-align:center; padding:5px;">Go Back</button></a>
